body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Different color for the "Apply Color" button */
button.apply-button {
  background-color: #3498db;
}

button.apply-button:hover {
  background-color: #2980b9;
}

p {
  text-align: center;
  margin: 5px 0;
}
